<div class="row">
	<!-- liste des tâches -->
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span> Ensemble des t&acirc;ches &agrave; faire <span class="badge"><?php echo $list_tasks->count(); ?></span></div>
			<table class="table table-striped">
			<?php if ($list_tasks->count()==0): ?>
				<tr><td><b>Pas de tâche</b></td></tr>
			<?php else: ?>
				<?php foreach ($list_tasks as $task): ?>
					<tr>
						<td><?php echo $task->content; ?></td>
						<td>
							<?php if ($task->todo==1): ?>
								<a href="<?php echo $this->url('todoTask', array('id_task' => $task->id_task, 'route' => 'customer')); ?>"><span class="glyphicon glyphicon-unchecked" title="&Agrave; faire"></span></a>
							<?php else: ?>
								<span class="glyphicon glyphicon-ok" title="Fait"></span>
							<?php endif; ?>
						</td>
						<td>
							<button type="button" id="<?php echo $task->id_task; ?>" class="close confirm-del-customer" title="Supprimer" data-toggle="modal" data-target="#del-task">&times;</button>
						</td>
					</tr>
				<?php endforeach; ?>
			<?php endif; ?>
			</table>
		</div>
	</div>

	<!-- liste des clients -->
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon-book"></span> Carnet clients <span class="badge"><?php echo $list_customers->count(); ?></span></div>
			<div class="panel-body">
				<p>
					<button class="btn btn-default" data-toggle="modal" data-target="#customer_form"><span class="glyphicon glyphicon-floppy-save"></span> Ajouter client</button>
					<?php echo $this->paginationControl($paginator, 'Sliding', 'paginator', array('route' => 'customer')); ?>
				</p>
			</div>
			<?php if ($list_customers->count()==0): ?>
				<p>Pas de client</p>
			<?php else: ?>
				<table class="table">
					<?php foreach ($paginator as $customer): ?>
						<tr>
							<td><a href="<?php echo $this->url('fiche', array('action' => 'fiche', 'id_customer' => $customer->id_customer)); ?>"><span class="glyphicon glyphicon-user"></span> <?php echo $this->escapeHtml($customer->firstname).' '.$this->escapeHtml($customer->lastname); ?></a></td>
						</tr>
					<?php endforeach; ?>
				</table>
			<?php endif; ?>
		</div>
	</div>
</div>

<!-- formulaire d'ajout de client -->
<div class="modal fade" id="customer_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Ajouter un client</h3>
			</div>
			<?php
				$form_customer->prepare();
				echo $this->form()->openTag($form_customer);
			?>
				<div class="modal-body">
					<? echo $this->formInput($form_customer->get('id_customer')); ?>
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<?php echo $this->formInput($form_customer->get('firstname')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<?php echo $this->formInput($form_customer->get('lastname')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<?php echo $this->formInput($form_customer->get('email')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
						<?php echo $this->formInput($form_customer->get('company_name')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
						<?php echo $this->formInput($form_customer->get('phone')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
						<?php echo $this->formInput($form_customer->get('company_adress')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
						<?php echo $this->formInput($form_customer->get('company_city')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
						<?php echo $this->formInput($form_customer->get('company_department')); ?>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					<?php echo $this->formSubmit($form_customer->get('submit')); ?>
				</div>
			<?php echo $this->form()->closeTag(); ?>
		</div>
	</div>
</div>

<!-- confirmation de suppression d'une tâche -->
<div class="modal fade" id="del-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Suppression t&acirc;che</h3>
			</div>
			<div class="modal-body">
				Etes vous certains de vouloir supprimer cette t&acirc;che?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				<a class="btn btn-primary" id="del-link">Supprimer</a>
			</div>
		</div>
	</div>
</div>