<div class="row">
	<div class="col-md-3">
		<!-- affichage message d'erreur -->
		<?php if (isset($error)): ?>
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<span class="glyphicon glyphicon-ban-circle"></span> <?php echo $error; ?>
			</div>
		<?php endif; ?>
		
		<h3>Authentification</h3>
		<?php
			$formLog->prepare();
			echo $this->form()->openTag($formLog);
		?>
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			<?php echo $this->formInput($formLog->get('login')); ?>
		</div><br />
		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
			<?php echo $this->formInput($formLog->get('password')); ?>
		</div><br />
		<div class="input-group">
			<?php echo $this->formSubmit($formLog->get('submit')); ?>
		</div><br />
		<?php echo $this->form()->closeTag(); ?>
	</div>
</div>