<div class="jumbotron">
	<div class="row">
		<div class="col-md-3">
			<img src="<?php echo $this->basePath('img/logo.png'); ?>" />
		</div>
		<div class="col-md-9">
			<h1>Bienvenue sur <span class="zf-green">Manalink'</span> !</h1>
			<p>
				Manalink' est LA référence des applications de gestion des relations client.<br />
				Gérez facilement votre liste de clients en quelques clics de souris, c'est maintenant possible!<br />
				Connectez-vous dès à présent.
			</p><br />
			<p><a href="<?php echo $this->url('login'); ?>" class="btn btn-primary btn-lg btn-success" role="button">Authentification</a></p>
		</div>
	</div>
</div>