<div class="row" id="<?php echo $id_customer; ?>">
	<div class="col-md-9">
		<!-- liste des tâches -->
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span> Ensemble des t&acirc;ches &agrave; faire <span class="badge"><?php echo $list_tasks->count(); ?></span></div>
				<table class="table table-striped">
				<?php if ($list_tasks->count()==0): ?>
					<tr><td><b>Pas de tâche</b></td></tr>
				<?php else: ?>
					<?php foreach ($list_tasks as $task): ?>
						<tr>
							<td><?php echo $task->content; ?></td>
							<td>
								<?php if ($task->todo==1): ?>
									<a href="<?php echo $this->url('todoTask', array('id_task' => $task->id_task, 'route' => 'fiche', 'id_customer' => $id_customer)); ?>"><span class="glyphicon glyphicon-unchecked" title="&Agrave; faire"></span></a>
								<?php else: ?>
									<span class="glyphicon glyphicon-ok" title="Fait"></span>
								<?php endif; ?>
							</td>
							<td>
								<button type="button" id="<?php echo $task->id_task; ?>" class="close confirm-del-fiche" title="Supprimer" data-toggle="modal" data-target="#del-task">&times;</button>
							</td>
						</tr>
					<?php endforeach; ?>
				<?php endif; ?>
				</table>
			</div>
		</div>

		<!-- fiche du client -->
		<div class="col-md-5">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="glyphicon glyphicon-user"></span> Fiche client</div>
				<div class="panel-body">
					<p>
						<div class="btn-group">
							<button class="btn btn-default modify_fiche" data-toggle="modal" data-target="#customer_form"><span class="glyphicon glyphicon-pencil"></span> Modifier</button>
							<button class="btn btn-default" data-toggle="modal" data-target="#note_form"><span class="glyphicon glyphicon-floppy-save"></span> Note</button>
							<button class="btn btn-default" data-toggle="modal" data-target="#task_form"><span class="glyphicon glyphicon-floppy-save"></span> T&acirc;che</button>
						</div>
					</p>
				</div>
				<table class="table">
					<?php foreach ($infos_customer as $info): ?>
						<tr class="hidden"><td id="id_customer"><?php echo $info->id_customer; ?></td></tr>
						<tr><td id="firstname"><?php echo $info->firstname; ?></td></tr>
						<tr><td id="lastname"><?php echo $info->lastname; ?></td></tr>
						<tr><td id="email"><?php echo $info->email; ?></td></tr>
						<tr><td id="company_name"><?php echo $info->company_name; ?></td></tr>
						<tr><td id="phone"><?php echo $info->phone; ?></td></tr>
						<tr><td id="company_adress"><?php echo $info->company_adress; ?></td></tr>
						<tr><td id="company_city"><?php echo $info->company_city; ?></td></tr>
						<tr><td id="company_department"><?php echo $info->company_department; ?></td></tr>
					<? endforeach; ?>
				</table>
			</div>
		</div>

		<!--liste des notes -->
		<div class="clear"></div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Liste des notes pour le client <span class="badge"><?php echo $list_notes->count(); ?></span></div>
				<?php if ($list_notes->count()>1): ?>
					<div class="panel-body">
						<p>
							<button class="btn btn-default show_note"><span class="glyphicon glyphicon-chevron-down"></span> Voir anciennes notes</button>
						</p>
					</div>
				<?php endif;
				if ($list_notes->count()==0): ?>
					<table class="table table-striped">
						<tr><td><b>Pas de note</b></td></tr>
					</table>
				<?php else: ?>
					<?php $count=1; ?>
					<?php foreach ($list_notes as $note): ?>
						<?php if ($count==1): ?>
							<table class="table table-striped">
								<tr><td><?php echo $note->content; ?></td></tr>
							</table>
						<?php endif; ?>
						<?php if ($count>1): ?>
							<table class="table table-striped hidden_note">
								<tr><td><?php echo $note->content; ?></td></tr>
							</table>
						<?php endif; ?>
						<?php $count++; ?>
					<?php endforeach; ?>
				<?php endif; ?>
			</div>
		</div>
	</div>

	<!-- liste des clients -->
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading"><span class="glyphicon glyphicon-book"></span> Carnet clients <span class="badge"><?php echo $list_customers->count(); ?></span></div>
			<div class="panel-body">
				<p>
					<button class="btn btn-default" data-toggle="modal" data-target="#customer_form"><span class="glyphicon glyphicon-floppy-save"></span> Ajouter client</button>
					<?php echo $this->paginationControl($paginator, 'Sliding', 'paginator', array('route' => 'customer')); ?>
				</p>
			</div>
			<?php if ($list_customers->count()==0): ?>
				<p>Pas de client</p>
			<?php else: ?>
				<table class="table">
					<?php foreach ($paginator as $customer): ?>
						<tr>
							<td><a href="<?php echo $this->url('fiche', array('action' => 'fiche', 'id_customer' => $customer->id_customer)); ?>"><span class="glyphicon glyphicon-user"></span> <?php echo $this->escapeHtml($customer->firstname).' '.$this->escapeHtml($customer->lastname); ?></a></td>
						</tr>
					<?php endforeach; ?>
				</table>
			<?php endif; ?>
		</div>
	</div>
</div>

<!-- formulaire d'ajout de client -->
<div class="modal fade" id="customer_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title title-fiche" id="myModalLabel">Ajouter un client</h3>
			</div>
			<?php
				$form_customer->prepare();
				echo $this->form()->openTag($form_customer);
			?>
				<div class="modal-body">
					<? echo $this->formInput($form_customer->get('id_customer')); ?>
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<?php echo $this->formInput($form_customer->get('firstname')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<?php echo $this->formInput($form_customer->get('lastname')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<?php echo $this->formInput($form_customer->get('email')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
						<?php echo $this->formInput($form_customer->get('company_name')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
						<?php echo $this->formInput($form_customer->get('phone')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
						<?php echo $this->formInput($form_customer->get('company_adress')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
						<?php echo $this->formInput($form_customer->get('company_city')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
						<?php echo $this->formInput($form_customer->get('company_department')); ?>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					<?php echo $this->formSubmit($form_customer->get('submit')); ?>
				</div>
			<?php echo $this->form()->closeTag(); ?>
		</div>
	</div>
</div>

<!-- formulaire d'ajout d'une tâche -->
<div class="modal fade" id="task_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Ajouter une t&acirc;che client</h3>
			</div>
			<?php
				$form_task->prepare();
				echo $this->form()->openTag($form_task);
			?>
				<div class="modal-body">
					<?php
						echo $this->formInput($form_task->get('id_task'));
						echo $this->formInput($form_task->get('id_customer'));
					?>
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
						<?php echo $this->formTextarea($form_task->get('content')); ?>
					</div><br />
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						<?php echo $this->formInput($form_task->get('date')); ?>
					</div>
					<?php echo $this->formInput($form_task->get('todo')); ?>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					<?php echo $this->formSubmit($form_task->get('submit')); ?>
				</div>
			<?php echo $this->form()->closeTag(); ?>
		</div>
	</div>
</div>

<!-- formulaire d'ajout d'une note -->
<div class="modal fade" id="note_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Ajouter une note client</h3>
			</div>
			<?php
				$form_note->prepare();
				echo $this->form()->openTag($form_note);
			?>
				<div class="modal-body">
					<?php
						echo $this->formInput($form_note->get('id_note'));
						echo $this->formInput($form_note->get('id_customer'));
					?>
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
						<?php echo $this->formTextarea($form_note->get('content')); ?>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					<?php echo $this->formSubmit($form_note->get('submit')); ?>
				</div>
			<?php echo $this->form()->closeTag(); ?>
		</div>
	</div>
</div>

<!-- confirmation de suppression d'une tâche -->
<div class="modal fade" id="del-task" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Suppression t&acirc;che</h3>
			</div>
			<div class="modal-body">
				Etes vous certains de vouloir supprimer cette t&acirc;che?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				<a class="btn btn-primary" id="del-link">Supprimer</a>
			</div>
		</div>
	</div>
</div>